<h1>Debtors#index</h1>
<p>Welcome <%=@user.username%></p>

<%@debtors.each do |debtors|%>
  <p>Debtor's name: <%=link_to debtors.name, user_debtor_debts_path(user_id: @user.id, debtor_id: debtors.id) %>.</p>
  <%= form_with(model: debtors, url: user_debtor_path(user_id: debtors.user_id, id: debtors.id),
    method: :delete, data: { confirm: 'Are you sure you want to delete this debt?' }) do |form| %>
    <%= form.button 'Delete Debt', class: 'btn btn-danger' %>
  <% end %>
<%end%>
