<section class='top-nav'>
  <%=link_to debts_path(id: @debt.creditor_id) do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3>Edit Debt</h3>
</section>

<%= bootstrap_form_with model: @debt, url: debt_path(id: @debt.id), class: 'new_edit' do |form| %>
  <%= render 'form', form: form %>
  <%= form.submit 'Edit Debt', class: 'edit' %>
<%end%>