<h3><%=@debt.debtor%> Debt Details </h3>

<section>
  <%if @user.id == @debt.user_id%>
    <div>
      <p><%=@debt.amount%></p>
      <p><%=@debt.due_date%></p>
      <p><%=@debt.is_paid%></p>
    </div>
  <%end%>
</section>