<section class='debt-show'>
  <h3><%=@debt.debtor%> Debt Details </h3>
  <%if @user.id == @debt.user_id%>
    <article>
      <h5>Amount</h5>
      <h5>Due Date</h5>
      <h5>Paid</h5>
    </article>
    <article>
      <p><%=@debt.amount%></p>
      <p><%=@debt.due_date%></p>
      <%if @debt.is_paid %>
        <p>Status: Paid</p>
      <%else %>
        <p>Status: Unpaid</p>
      <%end%>
      
    </article>
  <%end%>
</section>
<footer class='footer'>
  <button>
    <%=link_to "Edit #{@debt.debtor}'s Debt", edit_user_debt_path(user_id: @user.id, id: @debt.id) %>
  </button>
</footer>