/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #259672;
  height: 50vh;
  border-radius: 0 0 15% 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;

  h1 {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
  }
}

.index-section {
  height: 30vh;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 4rem 1rem;

  .para {
    color: #000;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
  }

  .index-section-para2 {
    color: grey;
    text-align: center;
  }
}

.top-nav {
  background-color: #259672;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
  margin-bottom: 1rem;

  h3 {
    color: #fff;
    font-size: 20px;
  }

  h3,
  a {
    display: flex;
    align-items: center;
  }
}

.flashes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  background-color: #000;
  color: #fff;
}

.debt-section {
  padding: 0 1rem;

  h3 {
    text-align: center;
  }

  article {
    padding: 0.25rem 0.25rem;

    .debt-box {
      border-radius: 12px;
      background-color: #542759;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .debt-detail {
        width: 85%;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;

        .amt {
          margin: auto 0;
          font-weight: bold;
          font-size: 1.5rem;
        }

        .debtor-info {
          padding-top: 0.75rem;
          line-height: 5px;

          .debtor {
            a {
              font-weight: bold;
              color: skyblue;
            }
          }
        }
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    font-size: 1.275rem;

    li,
    form {
      border-bottom: 2px solid brown;
    }

    li,
    a {
      padding: 1rem 0;
    }

    form {
      display: flex;
      margin: 0 auto;
    }

    a {
      text-decoration: none;
    }
  }

  .no-debt {
    font-size: 1.25rem;
    text-align: center;
    padding: 0.75rem;
  }
}

.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-weight: 500;
  font-size: 1.25rem;

  p {
    color: #000;
  }

  button {
    background-color: #259672;
    border: none;
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 30px;
  }
}

.debt-show {
  padding-top: 0.5rem;

  h3 {
    text-align: center;
    margin-bottom: 1.75rem;
  }

  article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}

.new_edit {
  padding: 1rem;

  .edit {
    border: 2px solid purple;
  }
}


h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.fa-regular {
  color: #fff;
}